name: Continuous Integration
on: [push]

jobs:
    continuous-integration:
        name: CI
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: 10.x
            - run: yarn install
            - run: yarn run build
            - run: yarn run test
